<!-- ******************************** -->
<!-- Gridalicious -->
<script src="/js/vendor/jquery.grid-a-licious.js"></script>
<!-- ******************************** -->
<!-- Modules to load -->

<%- partial('../app/templates/dd_templates.ejs') %>
<script src="js/BB_app/modules/dd.js?v=<%= sails.config.session.version %>"></script>

<%- partial('../app/templates/tutos_templates.ejs') %>
<script src="js/BB_app/modules/tutos.js?v=<%= sails.config.session.version %>"></script>

<%- partial('../app/templates/topbar_templates.ejs') %>
<script src="js/BB_app/modules/topbar.js?v=<%= sails.config.session.version %>"></script>

<%- partial('../app/templates/workspacesList_templates.ejs') %>
<script src="js/BB_app/modules/workspacesList.js?v=<%= sails.config.session.version %>"></script>

<div class="large-12 medium-12 small-12"></div>
  <div id="workspacesList-container" class="large-9 medium-9 small-9 columns"></div>
  <div id="dd_container" class="large-3 medium-3 small-3 columns"></div>
  <div id="tutos_container" class="large-3 medium-3 small-3 columns"></div>
</div>

<div id="tutu"></div>

<script>
  $(document).ready(function () {

    Backbone.Model.prototype.toJSON = function() {
      return JSON.parse(JSON.stringify(this.attributes));
    };

    rt(io, function(){
      var json = {};
      json.news = <%- news %>;
      json.users = <%- users %>;
      json.user = <%- currentUser %>;
      json.projects = <%- projects %>;
      json.notifications = <%- notifications %>;
      json.activityLog = <%- activityLog %>;
      json.permissions = <%- permissions %>;
      
      global.init(json, function(){
        // Modules
        topbar.init({el:"#topbar_container"});
        workspacesList.init({el:"#workspacesList-container",display:"block"});
        tutos.init({el:"#tutos_container"}); 
        dd.init({el:"#dd_container"}); 
        /*activat of "hashchange events's monitoring"*/
        if(!Backbone.History.started) Backbone.history.start();  
      });

    });
  }) ;
</script>