<!-- CSS -->
<link rel="stylesheet" href="styles/map.css">

<!-- Javascript libs -->
<script src="/js/vendor/backbone.iosync.js"></script>
<script src="/js/vendor/backbone.iobind.js"></script>

<script type="text/javascript" src="js/vendor/jquery.mousewheel-3.1.3.js"></script>
<script src="js/vendor/jquery.hotkeys.js"></script>
<script src="js/vendor/jquery.hammer.min.js"></script>
<script type="text/javascript" src="js/vendor/kinetic-v4.4.3.js"></script>
<script src="js/vendor/color-0.4.1.min.js"></script>
<script type="text/javascript" src="js/mapjs/kinetic.clip.js"></script>
<script type="text/javascript" src="js/mapjs/kinetic.idea.js"></script>
<script type="text/javascript" src="js/mapjs/kinetic.idea.proxy.js"></script>
<script type="text/javascript" src="js/mapjs/kinetic.connector.js"></script>
<script type="text/javascript" src="js/mapjs/observable.js"></script>
<script type="text/javascript" src="js/mapjs/mapjs.js"></script>
<script type="text/javascript" src="js/mapjs/url-helper.js"></script>
<script type="text/javascript" src="js/mapjs/content.js"></script>
<script type="text/javascript" src="js/mapjs/layout.js"></script>
<script type="text/javascript" src="js/mapjs/layout-compressor.js"></script>
<script type="text/javascript" src="js/mapjs/map-model.js"></script>
<script type="text/javascript" src="js/mapjs/kinetic-mediator.js"></script>
<script type="text/javascript" src="js/mapjs/map-toolbar-widget.js"></script>
<script type="text/javascript" src="js/mapjs/png-exporter.js"></script>
<script type="text/javascript" src="js/mapjs/map-widget.js"></script>

<script type="text/javascript" src="js/mapjs/kinetic.link.js"></script>
<script type="text/javascript" src="js/mapjs/link-edit-widget.js"></script>


<!-- ******************************** -->
<!-- VISU dependances -->
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript" src="js/d3.v3/d3.v3.js" charset="utf-8"></script>
<script type="text/javascript" src="js/vendor/keshif.js" charset="utf-8"></script>
<link rel="stylesheet" href="styles/keshif.css"/ type="text/css">
<!-- ******************************** -->
<!-- CKEditor -->
<script src="/js/ckeditor/ckeditor.js"></script>
<!-- ******************************** -->
<!-- tags input -->
<link rel="stylesheet" type="text/css" href="styles/jquery.tagsinput.css" />

<script type="text/javascript" src="js/vendor/jquery.tagsinput.js"></script>
<!-- ******************************** -->

<!-- Templates to load -->
<div class="topbar-container"></div>
<%- partial('./templates/topBar_template') %>

<div class="off-canvas-wrap">
  <div class="inner-wrap">
    <nav class="tab-bar">
      <section class="right-small">
        <a class="right-off-canvas-toggle menu-icon" ><span>Notifications</span></a>
      </section>
      
      <section class="left tab-bar-section">
        
      </section>
    </nav>

    <aside class="right-off-canvas-menu" >
      <ul class="off-canvas-list" id="notificationsList">
        ...
      </ul>
    </aside>


    <section class="main-section">
      <!-- content goes here -->

      <div class="interface">
        <div class="expand panel" style="text-align:center">
          <h2>Title</h2>
          <dl class="tabs" style="width : 30%; margin : auto;" data-tab>
              <dd id="panel-concept" class="active"><a href="#panel2-1">Concept</a></dd>
              <dd id="panel-knowledge" ><a href="#panel2-3">Knowledge</a></dd>
              <dd id="panel-visu" ><a href="#panel2-4">Knowledge2</a></dd>
          </dl>
        </div>
        <div class="tabs-content">

          <div class="content active " id="panel2-1">
            <div >
              <div id="interface1-container" class="columns large-1">
                <a href="#" title="Center" class="panel button tiny resetView"><img src="img/centrer.png"></a>
                <a href="#" title="Zoom" class="panel button tiny scaleUp"><img src="img/plus.png"></a>
                <a href="#" title="Zoom" class="panel button tiny scaleDown"><img src="img/moins.png"></a>
                <a href="#" title="Add" class="panel button tiny addSubIdea"><img src="img/add.png"></a>
                <a href="#" title="Delete" class="panel button tiny removeSubIdea"><img src="img/sup.png"></a>
                <a href="#" title="Insert" class="panel button tiny insertIntermediate"><img src="img/insertparent.png"></a>
                <a href="#" title="Expand" class="panel button tiny toggleCollapse"><img src="img/expand.png"></a>
                <a href="#" title="Undo" class="panel button tiny undo"><img src="img/undo.png"></a>
                <a href="#" title="Redo" class="panel button tiny redo"><img src="img/redo.png"></a>
                <a href="#" title="Cut" class="panel button tiny cut"><img src="img/couper.png"></a>
                <a href="#" title="Copy" class="panel button tiny copy"><img src="img/copy.png"></a>
                <a href="#" title="Paste" class="panel button tiny paste"><img src="img/coller.png"></a>
              </div>
              <div class="large-11 columns" id="container"></div>  
            </div>
          </div>
          <div class="content " id="panel2-3">
            <div id="interface3-container"></div>
          </div>
          <div class="content " id="panel2-4">
            <%- partial('./templates/visu_template') %>
          </div>

        </div>
      </div>

      <%- partial('./templates/concepts_template') %>
      <%- partial('./templates/cklink_template') %>
      <%- partial('./templates/explorer_template') %>
      <%- partial('./templates/notifications_template') %>
      <%- partial('./templates/details_templates') %>
    </section>

    <a class="exit-off-canvas"></a>

  </div>
</div>




<!-- Javascript libs -->
<script type="text/javascript" src="js/vendor/socket.io.js"></script>
<script type="text/javascript" src="js/sails.io.js"></script>

<script src="js/BB_app/global_functions.js"></script>
<!-- Interface client/server -->
<script type="text/javascript" src="js/BB_app/app.js"></script>


<!-- Global objects -->
<script src="js/BB_app/global_models.js"></script>
<script src="js/BB_app/global_collections.js"></script>

<!-- Modules situés dans assets/js/BB_app -->



<script type="text/javascript" src="js/BB_app/modules/topbar.js"></script>
<script type="text/javascript" src="js/BB_app/modules/cklink.js"></script>
<script type="text/javascript" src="js/BB_app/modules/visu.js"></script>

<script type="text/javascript" src="js/BB_app/modules/explorer.js"></script>
<script type="text/javascript" src="js/BB_app/interfaces/interface1.js"></script>
<script type="text/javascript" src="js/BB_app/interfaces/interface3.js"></script>
<script type="text/javascript" src="js/BB_app/modules/concepts.js"></script>
<script type="text/javascript" src="js/BB_app/modules/details.js"></script>
<script type="text/javascript" src="js/BB_app/modules/notifications.js"></script>


<script>

  $(document).on('opened', '[data-reveal]', function () {
    var modal = $(this);
    if(modal.attr('id')==="detailsModal"){
      try{
        CKEDITOR.replaceAll('ckeditor');

      }catch(e){
        console.log(e)
      }  
    };

    if(modal.attr('id')==="kDetailsModal"){

      try{

        CKEDITOR.replaceAll('ckeditor2');
      }catch(e){

      }  
    };
  });


  

  ///////////////////////////////////////////////////
  $(document).ready(function () {
    console.log( "CreaKtive DOM loaded!" );
    ////////////////////////////////////////
    Backbone.Model.prototype.toJSON = function() {
      return JSON.parse(JSON.stringify(this.attributes));
    };
    ////////////////////////////////////////
    rt(io, function(){
      global.init('<%- currentUser %>', function(){
        
        /*Modules*/
        details.init();
        notifications.init();
        //topBar.init();
        cklink.init();
        explorer.init();
        visu.init();

        /*Interfaces*/
        interface1.init();
        interface3.init();
        ////////////////////////////////////////
        /*activat of "hashchange events's monitoring"*/

        Backbone.history.start();  
      });
    });

  });
  /////////////////////////////////////////////////////////////////////////////////////////////
// Realtime connection
/////////////////////////////////////////////////////////////////////////////////////////////

function rt (io, callback) {
  // as soon as this file is loaded, connect automatically, 
  var socket = io.connect();
  socket.on('connect', function socketConnected() {
    socket.get("/auth/openChannels", function(data){
      // console.log(data.msg);
      // console.log(data.channels);
    })
    // Listen for Comet messages from Sails
    socket.on('message', function messageReceived(message) {     
      console.log('New comet message received :: ', message);
    });
    console.log(
      'Socket is now connected and globally accessible as `socket`.\n' + 
      'e.g. to send a GET request to Sails, try \n' + 
      '`socket.get("/", function (response) ' +
        '{ console.log(response); })`'
    );
    callback();
  });

  window.socket = socket;

};

</script>



